<html lang="en">
  <head>
    
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ramadan Mubarak</title>
    <style>
      body{
       background:url('	https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQktT_3hgUyPFyzoV88eGSYIj4Zi0zCE7vyRw&s');
       background-size: cover; /* Rasmni ekranni to'liq qoplash uchun */
      background-repeat: no-repeat; /* Rasm takrorlanmasligi uchun */
      background-position: center; /* Rasm markazda joylashishi uchun */
      z-index: -1; 
      }
      
    </style>
  </head>
  <body>
    <nav class="navbar bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img
            src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg"
            alt="Logo"
            width="30"
            height="24"
            class="d-inline-block align-text-top"
          />
          RAMADAN
        </a>
      </div>
    </nav>

    <div class="card text-center mt-3 main">
      <div class="card-header">
        RAMAZON MUBORAK
      </div>
      <div class="card-body">
        <form action="/post" method="post">
          <div class="mb-3">
            <label for="name" class="form-label">Enter Name !</label>
            <input type="text" name="name" class="form-control" id="name" />
          <input type="submit"  class="btn btn-primary mt-3" value="Submit" />
        </form>
      </div>
      <div class="card-footer text-muted">
        @JR0525
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
  </body>
</html>