<html lang="en">
  <head>
    <link
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Picture</title>
  </head>
  <body>
    <div class="contanier">
      <div class="row mt-3">
        <div class="col-8 offset-2">
          <center>
            <a href="/" class="btn btn-primary mb-3">Rewrite name</a><br />
            <img
              src="/export/image.jpg"
              class="img-fluid"
              alt="This is error with download picture"
            /><br />
            <a
              href="/export/image.jpg"
              class="btn btn-success mt-3 mb-5"
              download
            >Download Picture</a>
          </center>
        </div>
      </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    ></script>
  </body>
</html>